.footer {
  background-color: $VeryDarkBlue;
  @include padding( 0, $padding*32, 0, $padding*32);
  .navbar {
    @include padding( 0, 0, 0, 0);
    @include display( flex, space-between, center);
    &__list {
      @include display( flex, start, center);
      width: 100%;
      &__item {
        @include fontStyle( ($fontSize - 2), 400 );
        color: $white;
        &:hover {
          color: $softRed;
        }
      }
    }
    &__social {
      @include display(flex, center, center);
      list-style: none;
      &__item {
        @include padding(0, $padding*4, 0, $padding*4);
        cursor: pointer;
        &:hover {
          color: $softRed;
        }
      }
    }
  }
}