* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: $Desktop;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: 400;
  color: $GrayishBlue;
}

.button {
  &__action {
    @include button($softRed, $white);
    cursor: pointer;
    &:hover {
      @include button( $softRed, $softRed, false );
    }
  }
  &__main {
    @include button($softBlue, $white );
    cursor: pointer;
    &:hover {
      @include button( $softBlue, $softBlue, false );
    }
  }
  &__second {
    @include button($Gray, $VeryDarkBlue);
    cursor: pointer;
    &:hover {
      @include button( $VeryDarkBlue, $VeryDarkBlue, false );
    }
  }
}

.attribution {
  @include display(flex, center, center);
  margin: 0;
  &__text {
    @include fontStyle( $fontSize - 8 , 400 );
    color: $white;
  }
  a {
    color: $softRed;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.bg-darkblue {
  background-color: $VeryDarkBlue;
}
.bg-softblue {
  background-color: $softBlue;
  color: $white;
}

.input {
  &-message {
    @include fontStyle ( $fontSize - 8px, 400);
    @include padding( $padding, $padding*2, $padding, $padding*2);
  }
  &__group {
    @include display(flex, center, flex-start);
    width: 100%;
    flex-direction: row;
    > input {
      width: 100%;
      border: 1px solid transparent;
      outline: transparent;
      @include input();
      &::placeholder {
        color: $GrayishBlue;
        @include fontStyle( $fontSize - 6px, 400 );
      }
      &:focus {
        border: 1px solid $VeryDarkBlue;
        outline: $VeryDarkBlue;
      }
    }
    &-error {
      @include display(flex, center, flex-start );
      width: 100%;
      background-color: $softRed;
      flex-direction: column;
      border-radius: $padding;
      > input {
        @include input();
        width: 100%;
        border: 1px solid $softRed;
        outline: $softRed;
        background-image: url('/Assets/images/icon-error.svg');
        background-repeat: no-repeat;
        background-position: center right 5px;
        background-size: $fontSize - 6px;
        &::placeholder {
          color: $GrayishBlue;
          @include fontStyle( $fontSize - 6px, 400 );
        }
        &:focus {
          border: 1px solid $softRed;
          outline: $softRed;
          background-image: url('/Assets/images/icon-error.svg');
        }
      }
    }
    &-great {
      @include display(flex, center, flex-start );
      width: 100%;
      background-color: $softGreen;
      flex-direction: column;
      border-radius: $padding;
      &::placeholder {
        color: $softGreen;
        @include fontStyle( $fontSize - 6px, 400 );
      }
      &:focus {
        border: 1px solid $softRed;
        outline: $softGreen;
        background-image: url('/Assets/images/icon-error.svg');
      }
    }
  }
}