.navbar {
  @include padding( 0, $padding*32, 0, $padding*32);
  @include display ( flex, space-between, center );
  @include respond-to($tablet) {
    @include padding( $padding*4, $padding*4, $padding*4, $padding*4);
  }
  &__logo {
    @include respond-to($tablet) {
      width: 100%;
      @include display ( flex, space-between, center );
    }
  }
  &__list{
    list-style: none;
    @include display (inherit, center, center);
    @include respond-to($tablet) {
      width: 100%;
      flex-direction: column;
      text-align: center;
      @include padding( 0, 0, 0, 0 );
      @include display (none, center, center);
    }
    &__item{
      @include padding( 0, $padding*4, 0, $padding*4 );
      @include fontStyle( $fontSize, 400 );
      color: $VeryDarkBlue;
      text-transform: uppercase;
      cursor: pointer;
      @include respond-to($tablet) { 
        width: 100%;
        color: $white;
        @include padding( $padding*2, 0, $padding*2, 0 );
        &:not(:last-child) {
          border-bottom: 1px solid $white;
        }
      }
      &:hover {
        color: $softRed;
      }
      >button {
        text-transform: uppercase;
      }
    }
  }
  &__expand {
    @include respond-to($tablet) {
      position: fixed;
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      background-color: rgba($VeryDarkBlue, .8);
      @include padding( $padding*4, $padding*4, $padding*4, $padding*4 );
      @include display ( flex, space-evenly, center );
    }
    &__logo {
      width: 100%;
    }
  }
  &.social {
    list-style: none;
    @include display(none, center, center);
  }
  .item {
    @include padding($padding*2, $padding*2, $padding*2, $padding*2)
  }
}