@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

$Desktop: 1440px;
$Mobile: 375px;

//Colors
  //Primary
$white: #ffffff;
$softBlue: hsl(231,69%,60%);
$softRed: hsl(0,94%,66%);
  //Neutral
$Gray: #f7f7f7;
$GrayishBlue: hsl(229, 8%, 60%);
$VeryDarkBlue: hsl(229, 31%, 21%);

//Font
$fontFamily: 'Rubik', sans-serif;
$fontSize: 18px;
$fontSize-XL: $fontSize * 2.2;
$fontSize-M: $fontSize * 1.5;
$fontSize-L: $fontSize * 1.2;

//padding
$padding: 4px;

@mixin box-shadow($top, $left, $blur, $color, $inset) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin button($background, $color, $solid: true) {
  @if $solid {
    padding-top: $padding*2;
    padding-left: $padding*4;
    padding-right: $padding*4;
    padding-bottom: $padding*2;
    margin-top: $padding*2;
    margin-left: $padding*2;
    margin-bottom: $padding*2;
    margin-right: $padding*2;
    color: $color;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: $padding;
    background-color: $background;
    @include box-shadow( 0px, 5px, 5px, rgba(0,0,0,0.12), false);
  } @else {
    padding-top: $padding*2;
    padding-left: $padding*4;
    padding-right: $padding*4;
    padding-bottom: $padding*2;
    margin-top: $padding*2;
    margin-left: $padding*2;
    margin-bottom: $padding*2;
    margin-right: $padding*2;
    color: $background;
    font-weight: 600;
    border: 1px solid $background;
    border-radius: $padding;
    background-color: transparent;
    @include box-shadow( 0px, 5px, 5px, rgba(0,0,0,0.12), false);
  }
}

@mixin display ( $display, $justifyContent, $alignItem ){
  display: $display;
  justify-content: $justifyContent;
  align-items: $alignItem;
}

@mixin padding ( $top, $left, $bottom, $right ) {
  padding-top: $top;
  padding-left: $left;
  padding-bottom: $bottom;
  padding-right: $right;
}

@mixin fontStyle ( $fontSize, $fontWeight ) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $fontSize*1.5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: $Desktop;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: 400;
  color: $GrayishBlue;
}

.navbar {
  @include padding( 0, $padding*32, 0, $padding*32);
  @include display ( flex, space-between, center );
  &__list{
    @include display (inherit, center, center);
    list-style: none;
    &__item{
      @include padding( 0, $padding*4, 0, $padding*4 );
      @include fontStyle( $fontSize, 400 );
      color: $VeryDarkBlue;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        color: $softRed;
      }
      >button {
        text-transform: uppercase;
      }
    }
  }
}

.hero {
  @include display( flex, center, center );
  @include padding(0, $padding*32, 0, $padding*32);
  &__description {
    &__title {
      @include fontStyle( $fontSize-XL, 500);
      color: $VeryDarkBlue;
    }
    &__text {
      @include fontStyle( $fontSize, 400);
    }
  }
}

.features {
    @include display( flex, center, center );
    flex-direction: column;
    width: 100%;
    @include padding($padding*24, $padding*32, $padding*24, $padding*32);
  &__title {
    @include fontStyle( $fontSize-M, 500 );
    color: $VeryDarkBlue;
  }
  &__description {
    @include fontStyle( $fontSize, 400);
    width: 50%;
    text-align: center;
  }
  &__tab {
    width: 100%;
    &__navtab {
      @include display( flex, center, center );
      list-style: none;
      border-bottom: 2px solid $Gray;
      width: 50%;
      margin: 0 auto;
      &__item {
        @include padding ( $padding*4, $padding*4, $padding*4, $padding*4);
        cursor: pointer;
        &:hover {
          color: $softRed;
        }
        &-active {
          @include padding ( $padding*4, $padding*4, $padding*4, $padding*4);
          color: $VeryDarkBlue;
          border-bottom: 3px solid $softRed;
        }
      }
    }
    &__section {
      @include display( flex, center , center );
      flex-direction: column;
      width: 100%;
      &__item {
        display: none;
        &-active {
          @include display( flex, center , center );
          @include padding($padding*16, 0, $padding*16, 0);
        }
        &__description {
          @include padding( 0, $padding*16, 0, $padding*16);
          &__title {
            @include fontStyle( $fontSize-M, 500 );
            color: $VeryDarkBlue;
          }
          &__text {
            @include fontStyle( $fontSize, 400 );
          }
        }
      }
    }
  }
  &__download {
    @include display( flex, center , center );
    &__item{
      @include display(flex,  center, center);
      flex-direction: column;
      @include padding($padding*4, $padding*4, $padding*4, $padding*4);
      margin: $padding*4;
      @include box-shadow( 0px, 5px, 5px, rgba($softBlue,.12), false );
      border-radius: $padding*2;
      &__body {
        @include display(flex,  center, center);
        flex-direction: column;
        @include padding(0, 0, $padding*4, 0);
        &title {
          @include fontStyle( $fontSize-L, 500 );
          color: $VeryDarkBlue;
        }
        &text {
          @include fontStyle( $fontSize/1.2, 400 );
        }
      }
    }
    &__footer {
      @include padding( $padding*4, $padding*4, 0, $padding*4 );
      background-image: url('../images/bg-dots.svg');
      background-repeat: no-repeat;
    }
  }
  &__accordion {
    width: 50%;
    &__item {
      @include display( flex, space-between, center );
      width: 100%;
      border-bottom: 1px solid $GrayishBlue;
      cursor: pointer;
      &-active {
        @include display( flex, space-between, center );
        width: 100%;
        border: none;
        cursor: pointer;
      }
      &:first-child {
        border-top: 1px solid $GrayishBlue;
      }
      &:after {
        content: url('../images/icon-arrow.svg');
        @include padding(0, 0, 0, $padding*4);
      }
      &title {
        @include fontStyle( $fontSize, 400 );
        color: $VeryDarkBlue;
        &:hover {
          color: $softRed;
        }
      }
    }
  }
  &__collapse {
    display: none;
    &-active {
      width: 100%;
      color: rgba($VeryDarkBlue, 0.7);
      display: block;
    }
    &__item {
      &__text {
        @include fontStyle( $fontSize, 400 )
      }
    }
  }
  >button {
    margin-top: $padding*16;
  }
}

.footer {
  background-color: $VeryDarkBlue;
  @include padding( 0, $padding*32, 0, $padding*32);
  .navbar {
    @include padding( 0, 0, 0, 0);
    @include display( flex, space-between, center);
    &__list {
      @include display( flex, start, center);
      width: 100%;
      &__item {
        @include fontStyle( ($fontSize - 2), 400 );
        color: $white;
        &:hover {
          color: $softRed;
        }
      }
    }
    &__social {
      @include display(flex, center, center);
      list-style: none;
      &__item {
        @include padding(0, $padding*4, 0, $padding*4);
        cursor: pointer;
        &:hover {
          color: $softRed;
        }
      }
    }
  }
}

.attribution {
  @include display(flex, center, center);
  margin: 0;
  &__text {
    @include fontStyle( $fontSize - 8 , 400 );
    color: $white;
  }
  a {
    color: $softRed;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.button {
  &__action {
    @include button($softRed, $white);
    cursor: pointer;
    &:hover {
      @include button( $softRed, $softRed, false );
    }
  }
  &__main {
    @include button($softBlue, $white );
    cursor: pointer;
    &:hover {
      @include button( $softBlue, $softBlue, false );
    }
  }
  &__second {
    @include button($Gray, $VeryDarkBlue);
    cursor: pointer;
    &:hover {
      @include button( $VeryDarkBlue, $VeryDarkBlue, false );
    }
  }
}
