$icomoon-font-family: "Bookmark" !default;
$icomoon-font-path: "fonts" !default;

$icon-icon-arrow: "\e900";
$icon-icon-close: "\e901";
$icon-icon-error-path1: "\e902";
$icon-icon-error-path2: "\e903";
$icon-icon-error-path3: "\e904";
$icon-icon-facebook: "\e905";
$icon-icon-hamburger: "\e906";
$icon-icon-twitter: "\e907";
$icon-logo-bookmark-path1: "\e908";
$icon-logo-bookmark-path2: "\e909";
$icon-logo-bookmark-path3: "\e90a";
$icon-logo-chrome-path1: "\e90b";
$icon-logo-chrome-path2: "\e90c";
$icon-logo-chrome-path3: "\e90d";
$icon-logo-chrome-path4: "\e90e";
$icon-logo-chrome-path5: "\e90f";
$icon-logo-chrome-path6: "\e910";
$icon-logo-firefox: "\e911";
$icon-logo-opera: "\e912";

